/broker/target
/broker/.classpath
/broker/.project
/broker/.settings

/logappender/target
/logappender/.classpath
/logappender/.project
/logappender/.settings

/test/target
/test/.classpath
/test/.project
/test/.settings

/distribution/*

/namesrv/target
/namesrv/.classpath
/namesrv/.project
/namesrv/.settings

/remoting/target
/remoting/.classpath
/remoting/.project
/remoting/.settings

/tools/target
/tools/.classpath
/tools/.project
/tools/.settings

/client/target
/client/.classpath
/client/.project
/client/.settings

/example/target
/example/.classpath
/example/.project
/example/.settings

/srvutil/target
/srvutil/.classpath
/srvutil/.project
/srvutil/.settings

/common/target
/common/.classpath
/common/.project
/common/.settings

/filter/target
/filter/.classpath
/filter/.project
/filter/.settings

/openmessaging/target
/openmessaging/.classpath
/openmessaging/.project
/openmessaging/.settings

/store/target
/store/.classpath
/store/.project
/store/.settings 

/filtersrv/target
/filtersrv/.classpath
/filtersrv/.project
/filtersrv/.settings 

/target/*
